/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    color: #333;
}

header {
    text-align: center;
    padding: 40px 20px;
    background-color: #FF4D4D; /* Softer Red */
    color: white;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0; /* Smaller space between h2 elements */
}

.scroll-hint {
    font-size: 14px;
    margin: 10px 0;
    color: white;
}

.arrow-icon {
    font-size: 75px;
    color: white;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Section Layout */
.section {
    background-color: #87BFEF; /* Sky Blue */
    margin: 20px;
    width: calc(100% - 40px); /* Full width minus margins */
    max-width: 1200px;
    padding: 40px 20px;
    min-height: 640px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.value-box {
    margin: 20px 0;
}

.value {
    font-size: 48px;
    font-weight: bold;
    color: #E00025; /* Red */
}

.description {
    font-size: 14px;
    color: #333; /* Dark Gray */
}

.placeholder-image {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 385px; /* Set maximum width */
    margin: 20px auto; /* Centering */
}

canvas {
    margin: 20px auto;
    max-width: 100%; /* Allow canvas to take full width */
    height: auto; /* Maintain aspect ratio */
}

/* Footer */
footer {
    text-align: left; /* Left aligned */
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 12px;
}

footer a {
    color: #87BFEF; /* Sky Blue */
    text-decoration: none;
}


/* Combined Fazit and Diagramm Styles */
#fazit-diagramm {
    background-color: #87BFEF; /* Sky Blue */
    margin: 20px;
    width: calc(100% - 80px); /* Full width minus margins */
    max-width: 1200px;
    padding: 40px 20px;
    min-height: 640px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}